# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-this"

# Admin Credentials
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"

# Cloudinary Config
CLOUDINARY_URL=""
CLOUDINARY_CLOUD_NAME="z8tk0gdq"
CLOUDINARY_API_KEY="662612357237819"
CLOUDINARY_API_SECRET="tJjzYMgrX439tnweGbM99PEyl3w"
MAX_VIDEO_SIZE_MB="100"
